<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Hidden Thoughts</h1>
    <p class="lead">Don't bottle them up, share them on here!</p>
    <hr>
    <a class="btn btn-outline-primary" href="/register" role="button">Register</a>
    <a class="btn btn-outline-danger" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
