<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Welcome to the depths of my consciousness.</h1>
    <p class="secret-text">Mint Chocolate Chip ice cream tastes like toothpaste, blech.</p>
    <hr>
    
    <a class="btn btn-outline-primary" href="/logout" role="button">Log Out</a>
    <a class="btn btn-outline-danger" href="/submit" role="button">Submit a Deep Thought</a>
  </div>
</div>

<%- include('partials/footer') %>
