<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">This is what I really think.</h1>
   
   <%  usersWithSecrets.forEach(function(user) { %>
   <p class="secret-text"><%=user.secret%></p>
    <% }) %>

 

    <hr>   
    <a class="btn btn-outline-primary" href="/logout" role="button">Log Out</a>
    <a class="btn btn-outline-danger" href="/submit" role="button">Share how you really feel</a>
  </div>
</div>

<%- include('partials/footer') %>